In [1]:
!pip install spark

Collecting spark
  Downloading spark-0.2.1.tar.gz (41 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 41.0/41.0 kB 414.0 kB/s eta 0:00:00m eta 0:00:010:01
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: spark
  Building wheel for spark (setup.py) ... done
  Created wheel for spark: filename=spark-0.2.1-py3-none-any.whl size=58748 sha256=c546ef45511ed9eeb315c261edbfd4254da318be8cb9bca4bbd5b41b7b5273b6
  Stored in directory: /home/kyn/.cache/pip/wheels/67/c2/7c/a53325365fba358ffff35af84a2e14cf88c18052f88acfa5f0
Successfully built spark
Installing collected packages: spark
Successfully installed spark-0.2.1

In [2]:
import pyspark

In [3]:
import pandas as pd
df=pd.read_csv("test1.csv")
df

    name  age
0   kani   15
1  kani1   16
2  kani2   17

In [14]:
type(pd.read_csv("test1.csv"))

pandas.core.frame.DataFrame

In [5]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName("kani").getOrCreate()

24/04/23 10:17:17 WARN Utils: Your hostname, kyn resolves to a loopback address: 127.0.1.1; using 10.0.250.239 instead (on interface wlp0s20f3)
24/04/23 10:17:17 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/04/23 10:17:17 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [6]:
spark

In [7]:
df_spark=spark.read.csv("test1.csv")

In [8]:
df_spark

DataFrame[_c0: string, _c1: string]

In [9]:
df_spark.show()

+-----+---+
|  _c0|_c1|
+-----+---+
| name|age|
| kani| 15|
|kani1| 16|
|kani2| 17|
+-----+---+

In [10]:
spark.read.option("header","true").csv("test1.csv")

DataFrame[name: string, age: string]

In [11]:
spark.read.option("header","true").csv("test1.csv").show()

+-----+---+
| name|age|
+-----+---+
| kani| 15|
|kani1| 16|
|kani2| 17|
+-----+---+

In [12]:
type(df_spark)

pyspark.sql.dataframe.DataFrame

In [18]:
df_spark.head(3)

[Row(_c0='name', _c1='age'),
 Row(_c0='kani', _c1='15'),
 Row(_c0='kani1', _c1='16')]

In [23]:
df_spark.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)