In [1]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName("dataframe").getOrCreate()
spark

24/04/24 09:35:09 WARN Utils: Your hostname, kyn resolves to a loopback address: 127.0.1.1; using 10.0.250.240 instead (on interface wlp0s20f3)
24/04/24 09:35:09 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/04/24 09:35:09 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [2]:
df_spark=spark.read.csv("test1.csv")
df_spark

DataFrame[_c0: string, _c1: string]

In [26]:
#read dataset
df_spark=spark.read.option("header","true").csv("test2.csv")
df_spark.show()

+-----+---+----------+
| name|age|experience|
+-----+---+----------+
| kani| 15|        10|
|kani1| 16|         8|
|kani2| 17|         4|
+-----+---+----------+

In [4]:
#check schema
df_spark.printSchema()
#here all are show an string so that 
#use an inferschema=true

root
 |-- name: string (nullable = true)
 |-- age: string (nullable = true)
 |-- experience: string (nullable = true)

In [5]:
df_spark=spark.read.option("header","true").csv("test2.csv",inferSchema=True)
df_spark.show()

+-----+---+----------+
| name|age|experience|
+-----+---+----------+
| kani| 15|        10|
|kani1| 16|         8|
|kani2| 17|         4|
+-----+---+----------+

In [6]:
df_spark.printSchema()
#now it show an crt datatype

root
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- experience: integer (nullable = true)

In [7]:
type(df_spark)
#dataframe is an data structures

pyspark.sql.dataframe.DataFrame

In [8]:
df_spark.columns

['name', 'age', 'experience']

In [9]:
df_spark.head(3)

[Row(name='kani', age=15, experience=10),
 Row(name='kani1', age=16, experience=8),
 Row(name='kani2', age=17, experience=4)]

In [10]:
df_spark.show()

+-----+---+----------+
| name|age|experience|
+-----+---+----------+
| kani| 15|        10|
|kani1| 16|         8|
|kani2| 17|         4|
+-----+---+----------+

In [11]:
df_spark.select("name","age").show()

+-----+---+
| name|age|
+-----+---+
| kani| 15|
|kani1| 16|
|kani2| 17|
+-----+---+

In [12]:
df_spark.select("name","age")

DataFrame[name: string, age: int]

In [13]:
type(df_spark.select("name","age"))

pyspark.sql.dataframe.DataFrame

In [14]:
df_spark['name']

Column<'name'>

In [15]:
df_spark.dtypes

[('name', 'string'), ('age', 'int'), ('experience', 'int')]

In [16]:
df_spark.describe().show()

+-------+-----+----+-----------------+
|summary| name| age|       experience|
+-------+-----+----+-----------------+
|  count|    3|   3|                3|
|   mean| NULL|16.0|7.333333333333333|
| stddev| NULL| 1.0|3.055050463303893|
|    min| kani|  15|                4|
|    max|kani2|  17|               10|
+-------+-----+----+-----------------+

In [17]:
df_spark.show()

+-----+---+----------+
| name|age|experience|
+-----+---+----------+
| kani| 15|        10|
|kani1| 16|         8|
|kani2| 17|         4|
+-----+---+----------+

In [18]:
#old verison add columns 
df_spark=df_spark.withColumn("Experineced after 2 years",df_spark['experinced']+2)

AnalysisException: [UNRESOLVED_COLUMN.WITH_SUGGESTION] A column or function parameter with name `experinced` cannot be resolved. Did you mean one of the following? [`name`, `age`, `experience`].

In [19]:
#new version 
from pyspark.sql.functions import col
df_spark = df_spark.withColumn("Experience After 2 years", col("Experience") + 2)
df_spark

DataFrame[name: string, age: int, experience: int, Experience After 2 years: int]

In [20]:
df_spark.show()

+-----+---+----------+------------------------+
| name|age|experience|Experience After 2 years|
+-----+---+----------+------------------------+
| kani| 15|        10|                      12|
|kani1| 16|         8|                      10|
|kani2| 17|         4|                       6|
+-----+---+----------+------------------------+

In [24]:
df_spark=df_spark.drop("Experience After 2 years")
df_spark.show()

+-----+---+----------+
| name|age|experience|
+-----+---+----------+
| kani| 15|        10|
|kani1| 16|         8|
|kani2| 17|         4|
+-----+---+----------+

In [25]:
df_spark.withColumnRenamed("name","Name").show()

+-----+---+----------+
| Name|age|experience|
+-----+---+----------+
| kani| 15|        10|
|kani1| 16|         8|
|kani2| 17|         4|
+-----+---+----------+

# withColumn
# withColumnRename
# drop
# printSchema
# read.option().csv()

---------------------------------------------------------------

# PySpark Dataframe
# Reading The Dataset
# Checking the Datatypes of the Column(Schema)
# Selecting Columns And Indexing
# Check Describe option similar to Pandas
# Adding Columns
# Dropping columns
# Renaming Columns